@import '@variables';

.grouping-layout {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
    overflow: auto;

    h3 {
        height: auto;
        @include title_frends-lists;
    }

    ul {
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-right: 10px;
    }
}
