@import '@styles';

.wrapper {
    width: 100%;
    p {
        font-size: 20px;
        font-weight: 400;
        margin-left: 5%;
    }

    input {
        width: 100%;
        padding: 10px;
        padding-left: 20px;
        margin-top: 8px;
        @extend %resetting-input-styles;
        border-radius: 20px;
        background: #f9f9f9;
        border: 1px solid #eeeeee;
        font-size: 20px;
    }
}
