{
    "printWidth": 80,
    "tabWidth": 4,
    "arrowParens": "avoid",
    "semi": false,
    "bracketSameLine": true,
    "jsxSingleQuote": true,
    "proseWrap": "always",
    "singleQuote": true,
    "bracketSpacing": true,
    "singleAttributePerLine": true
}
