@import '@styles';

.button {
    outline: none;
    border: none;
    width: 70%;
    border-radius: 20px;
    @extend %content-centering;

    span {
        @extend %font-roboto;
        font-size: 20px;
    }
}
