//Переменная шрифта
%font-roboto {
    font-family: var(--font-roboto);
    line-height: normal;
}

//Отключение стилизации инпута
%resetting-input-styles {
    border: none;
    outline: none;
    font-family: inherit;
}

//Центрирование контента внутри блока
%content-centering {
    display: flex;
    align-items: center;
    justify-content: center;
}

//центрирование контента по горизонтали
%horizontal-center {
    display: flex;
    align-items: center;
}

@mixin title_frends-lists {
    color: #303030;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
