:root {
    --main-bg: #eff6fc;
    --main-bh: 0px 4px 5px 2px rgba(121, 197, 239, 0.38);
    --main-layout: #fff;
    --main-color: var(--purple);
    /* colors */
    --purple: #6e00ff;
    --silver: #e7e7e7;
    --white: white;
    --light-silver: #eff6fc;
    --font-roboto: 'Roboto', sans-serif;
}

body {
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-bg);
}

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}
