.App {
    margin: 0 auto;
    column-gap: 20px;
    box-sizing: border-box;

    width: 98%;
    height: 100%;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 98%;

    align-content: center;
}
