.layout {
    height: 100%;
    display: grid;
    grid-template-rows: min-content repeat(4, min-content) 1fr;
    row-gap: 25px;
    justify-items: center;
    align-items: center;
    padding: 20px;
}

.logout {
    align-self: end;
}
