@import '@styles';

.item_wrapper {
    display: grid;
    gap: 21px;
    grid-template-columns: auto 1fr auto;
    justify-content: center;
    border-bottom: 1px solid rgba(180, 171, 171, 0.66);
    padding-bottom: 14px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.contact-content {
    h5 {
        font-weight: bold;
        font-size: 18px;
    }

    p {
        font-weight: 300;
        font-size: 15px;
        color: #303030;
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.contact-notification {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 6px;

    p {
        font-size: 14px;
        font-weight: 300;
        color: #7c7c7c;
    }
}

.circle-notification {
    font-size: 14px;
    width: 20px;
    height: 20px;
    background: red;
    color: white;
    border-radius: 50%;
    @extend %content-centering;
}
