@import '@styles';

.Login {
    max-width: 320px;
    width: 100%;
}

.login_wrapper {
    width: 500px;
    @extend %content-centering;

    form {
        width: 100%;
        background: white;
        @extend %content-centering;
        flex-direction: column;
        padding: 24px;
        gap: 20px;
        border-radius: 20px;
    }
}

.button {
    outline: none;
    border: none;
    width: 70%;
    border-radius: 20px;
    @extend %content-centering;
    
    span {
        @extend %font-roboto;
        font-size: 20px;
    }
}
