@import '@styles';

.footer {
    width: 100%;
    display: flex;
    gap: 24px;
}

.input {
    width: 100%;
    @extend %horizontal-center;

    input {
        @extend %resetting-input-styles;

        font-size: 18px;
        font-weight: 300;
        font-family: inherit;
        background: var(--lightSilver);
        width: 100%;

        &::placeholder {
            font-weight: 300;
            background: var(--lightSilver);
        }
    }
}

.input,
.send_btn {
    padding: 15px;
}

.send_btn {
    @extend %content-centering;
    outline: none;
    border: none;
}
